body,
.wrapper {
  min-height: 100vh;
  min-width: 100vw;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  gap: 5px;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 10% 60% 20%;
  background-color: #222224;
  color: white;
}

/* Grid layout */
#game-title {
  grid-column: 1 / 4;
  place-self: center;
}

#game-board {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

#player-name-button {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#player-name-button,
#start-game-button {
  place-self: center;

  width: 80%;
  height: 50%;
}

/* Grid layout ends */

/* Modal form - player names */

.modal-header,
.modal-body,
.modal-footer {
  background: #222224;
}
/* Modal form - player names END */
