body,
.wrapper {
  min-height: 100vh;
  min-width: 100vw;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  gap: 5px;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 10% 60% 20%;
  background-color: #222224;
  color: white;
}

/* Grid layout */
#game-title {
  grid-column: 1 / 4;
  place-self: center;
}

#game-board {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

#player-name-button {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#start-game-button {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

#player-name-button,
#start-game-button {
  place-self: center;

  width: 80%;
  height: 50%;
}

#game-winner {
  place-self: center;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

/* Grid layout ends */

/* Draw board layout */
#game-board {
  display: grid;
  grid-template-columns: repeat(3, minmax(10px, 1fr));
  grid-template-rows: repeat(3, minmax(10px, 1fr));
}

#top-left,
#middle-left {
  border-right: solid white 4px;
  border-bottom: solid white 4px;
}

#top-center,
#middle-center {
  border-right: solid white 4px;
  border-bottom: solid white 4px;
}

#top-right,
#middle-right {
  border-bottom: solid white 4px;
}

#bottom-left {
  border-right: solid white 4px;
}

#bottom-center {
  border-right: solid white 4px;
}

/* Draw board layout ENDS*/

/* Modal form - player names */

.modal-header,
.modal-body,
.modal-footer {
  background: #222224;
}

.player-name-status {
  font-size: 30px;
  color: black;
}
/* Modal form - player names END */

/* X / O sizing on game board */

#game-board > div {
  display: grid;
  font-size: 15vh;
  align-content: center;
  justify-items: center;
}
